<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a [routerLink]="['js-reintro']">JavaScript Reintroduction</a></li>
                <li role="presentation"><a [routerLink]="['ts-intro']">TypeScript Reintroduction</a></li>
                <li role="presentation"><a [routerLink]="['ng-component']">Angular Component</a></li>
                <li role="presentation"><a [routerLink]="['ng-directive']">Angular Directive</a></li>
                <li role="presentation"><a [routerLink]="['ng-form']">Angular Form</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>