:host {
    display: block;
    margin: 20px;
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: #eee;
    padding: 20px;
}

.header {
    font-weight: bold;
    font-size: 1.5em;
}

p {
    border-top: solid 1px #ccc;
    padding-top: 15px;
}