<h2>Please open console in developer tool to see result.</h2>
<h3>Classes</h3>
<p>
    Open source code and have a look.
    <button class="btn btn-default" (click)="introClasses()" popover="Click to see result." triggers="mouseenter:mouseleave">Introduction Classes</button>
</p>
<hr>
<h3>Timeout & Interval</h3>
<p>
    <button class="btn btn-default" (click)="introTimeout()" popover="Click to see result." triggers="mouseenter:mouseleave">Timeout 1 sec.</button>
    <button class="btn btn-default" (click)="introInterval()" popover="Click to see result." triggers="mouseenter:mouseleave">Interval 1 sec. 3 times</button>
</p>
<hr>
<h3>Promise & Observable</h3>
<p>
    <button class="btn btn-default" (click)="introPromise()" popover="Click to see result." triggers="mouseenter:mouseleave">Call Promise</button>
    <button class="btn btn-default" (click)="introObservable()" popover="Click to see result." triggers="mouseenter:mouseleave">Observer 5 times</button>
</p>
<hr>
<h3>Type Guard</h3>
<p>
    <button class="btn btn-default" (click)="introGuardSomething('Koch!')" popover="Click to see result." triggers="mouseenter:mouseleave">Guard Type</button>
    <button class="btn btn-default" (click)="introGuardObject()" popover="Click to see result." triggers="mouseenter:mouseleave">Guard Object</button>
</p>
<hr>