:host {
    display: block;
    border: 1px solid #ccc;
    background-color: rgba(255, 0, 0, 0.3);
}

.binding-class1 {
    color: #fff;
    background-color: black;
}

.binding-class2 {
    color: black;
    background-color: white;
}

.special {
    background-color: red;
}